services:
    app:
        build: .
        container_name: escapeall_app
        restart: always
        volumes:
            - .:/var/www/html
        ports:
            - "8000:8000"
        depends_on:
            - db
        environment:
            DB_CONNECTION: mysql
            DB_HOST: db
            DB_PORT: 3306
            DB_DATABASE: laravel
            DB_USERNAME: laravel
            DB_PASSWORD: secret
        command: ./entrypoint.sh

    db:
        image: mysql:8.0
        container_name: escapeall_db
        restart: always
        environment:
            MYSQL_DATABASE: laravel
            MYSQL_USER: laravel
            MYSQL_PASSWORD: secret
            MYSQL_ROOT_PASSWORD: root
        ports:
            - "3309:3306"
        volumes:
            - db_data:/var/lib/mysql

volumes:
    db_data:
